<%= render "layouts/header" %>
<center><h2>Voici toutes les photos du moment</h2></center>
<div class="cards">
  <% Item.all.each do |i| %>

    <div class=" mb40 cadre">
        <div class="image-card-title-overlay card-hover">
          <%= link_to "", items_path(id: i.id), class: "card-link" %>

            <div class="card-overlay">
                <div class="overlay-inner">
                    <h4><%= i.title %></h4>
                </div>
            </div>
            <%= image_tag i.image_url, class:"img-fluid",style: "width:20rem ; height:15rem" %>
        </div>
        <p class="pt30">
          <%= i.description %>
        </p>
        <%= link_to cart_path, class: "btn btn-primary mb-2" do %>
          <i class="fa fa-shopping-cart"></i>
          <%= i.price %> €
        <% end %>
      </div>
    <% end %>
</div>
