<div class="page-titles title-dark pt30 pb20 mb70">
            <div class="container">
                <div class="row">
                    <div class=" col-md-6">
                        <h4><span>Checkout</span></h4>
                    </div>
                    <div class=" col-md-6 mb0">
                        <ol class="breadcrumb text-md-right">
                            <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
                            <li class="breadcrumb-item active">Checkout</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pb60">
            <h5 class="mb30">
                Votre commande comporte <%= @cart.items.count %> poster(s).
            </h5>
            <div class="row">
              <% @cart.items.each do |i| %>
                <div class="col-md-3 mb40">
                    <a href="#" class="simple-hover">
                        <%= image_tag i.image_url, class: 'img-fluid' %>
                    </a>
                    <div class="clearfix product-meta text-center">

                        <p class="lead mb0"><%= i.title %></p>
                        <h4 class=""><%= i.price %> €</h4>
                    </div>
                </div><!--/col-->
              <% end %>

            </div>
            <hr class="mb50">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">

                    <%= form_tag orders_path do %>
                    <article>
                      <% if flash[:error].present? %>
                        <div id="error_explanation">
                          <p><%= flash[:error] %></p>
                        </div>
                      <% end %>
                      <label class="amount">
                        <span>Montant: <%= @cart.items.map{|i| i.price}.sum %> €</span>
                      </label>
                    </article>

                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-description="cat photo"
                            data-amount="500"
                            data-locale="auto"></script>
                  <% end %>
                   <div class='checkout-smart-form mb50'>
    	<div class="smart-forms smart-container wrap-1">
            <form method="post" action="http://bootstraplovers.com/" id="account2">
            	<div class="form-body">

                    <div class="section">
                    	<p class="small-text fine-grey">Choississez votre moyen de paiement </p>
                    </div><!-- end section -->

                    <div class="section">

                        <label class="field option">
                            <input type="radio" name="payment" checked>
                            Carte de crédit
                        </label>

                        <label class="field option">
                            <input type="radio" name="payment">
                            Paypal
                        </label>

                        <label class="field option">
                            <input type="radio" name="payment">
                            Check
                        </label>

                    </div><!-- end section -->

                	<div class="fmx">

                        <div class="section">
                            <label class="field prepend-icon">
                                <input type="text" name="cardname" id="cardname" class="gui-input" placeholder="Nom du propriétaire">
                                <span class="field-icon"><i class="fa fa-user"></i></span>
                            </label>
                        </div><!-- end section -->

                        <div class="section">
                            <label class="field prepend-icon">
                                <input type="text" name="cardno" id="lastname" class="gui-input" placeholder="Numéro de carte">
                                <span class="field-icon"><i class="fa fa-credit-card"></i></span>
                            </label>
                        </div><!-- end section -->

                    </div><!-- end frm-row section -->

                	<div class="frm-row">

                        <div class="section colm colm6">
                            <label for="cardmonth" class="field select">
                                <select id="cardmonth" name="cardmonth">
                                	<option value="">Mois d'expiration</option>
                                    <option value="01">01 - Jan</option>
                                    <option value="02">02 - Feb</option>
                                    <option value="03">03 - Mar</option>
                                    <option value="04">04 - Apr</option>
                                    <option value="05">05 - May</option>
                                    <option value="06">06 - Jun</option>
                                    <option value="07">07 - Jul</option>
                                    <option value="08">08 - Aug</option>
                                    <option value="09">09 - Sep</option>
                                    <option value="10">10 - Oct</option>
                                    <option value="11">11 - Nov</option>
                                    <option value="12">12 - Dec</option>
                                </select>
                                <i class="arrow double"></i>
                            </label>
                        </div><!-- end section -->

                        <div class="section colm colm6">
                            <label class="field select">
                              <select id="cardyear" name="cardyear">
                              	  <option value="">Année d'expiration</option>
                                  <option value="2014">2014</option>
                                  <option value="2015">2015</option>
                                  <option value="2016">2016</option>
                                  <option value="2017">2017</option>
                                  <option value="2018">2018</option>
                                  <option value="2019">2019</option>
                                  <option value="2020">2020</option>
                                  <option value="2021">2021</option>
                                  <option value="2022">2022</option>
                                  <option value="2023">2023</option>
                                  <option value="2024">2024</option>
                                  <option value="2025">2025</option>
                                  <option value="2026">2026</option>
                              </select>
                              <i class="arrow double"></i>
                            </label>
                        </div><!-- end section -->

                    </div><!-- end frm-row section -->

                	<div class="frm-row">

                        <div class="section colm colm6">
                            <label class="field prepend-icon">
                                <input type="text" name="secno" id="secno" class="gui-input" placeholder="Cryptocode (3 chiffres au dos)">
                                <span class="field-icon"><i class="fa fa-barcode"></i></span>
                            </label>
                        </div><!-- end section -->

                    </div><!-- end frm-row section -->




                	<div class="section">
                        <label class="field option">
                            <input type="checkbox" name="info" checked>
                            Sauvegarder mes infos <em class="small-text fine-grey"> (sécurisé) </em>
                        </label>
                    </div><!-- end section -->

                </div><!-- end .form-body section -->
                <div class="form-footer">
                	<button type="submit" class="btn btn-primary">Proceed to confirm </button>
                </div><!-- end .form-footer section -->
            </form>

        </div><!-- end .smart-forms section -->


    <div></div><!-- end section -->


                   </div>
                    <div class="card card-body cart-total mb50">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="h5">Total:</span>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span class="h5 font700"><%= @cart.items.map{|i| i.price}.sum %> €</span>
                            </div>
                        </div>
                    </div>
                    <div class=" text-right">
                        <a href="#" class="btn btn-primary btn-lg">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
