<%= render "layouts/header" %>
<div class="contient">
  <%= image_tag Item.find(params[:id]).image_url %>
  <div class="container pb60">
        <div class='col'>
            <h2><%= Item.find(params[:id]).title %></h2>
            <div class='clearfix mb30'>
                <span class='float-right'>
                    <i class='fa fa-star text-warning'></i>
                    <i class='fa fa-star text-warning'></i>
                    <i class='fa fa-star text-warning'></i>
                    <i class='fa fa-star text-warning'></i>
                    <i class='fa fa-star-half-full text-warning'></i>
                    (12 Reviews)
                </span>
                <h4 class='text-info'><%= Item.find(params[:id]).price %> €</h4>
            </div>
            <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
            </p>

                <h4><small>Quantity</small></h4>
                <div class="quantity">
                    <input type="button" class="minus" value="-">
                    <input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                    <input type="button" class="plus" value="+">
                </div>

                <%= link_to "Ajouter au panier", cart_path(id: params[:id]), action: "add_to_cart",method: :post, class: "btn btn-primary" %>
        </div>
    </div>
</div>
