<header class="page-titles title-dark pt30 pb20 mb70">
  <a href=<%= root_url %>><h1 class="text-white">Atomic kitten </h1></a>
  <span class="perso">
    <% if current_user %>
      <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
      <%= link_to 'Edit Profile',edit_user_registration_path, class: "btn btn-success" %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      <%= link_to cart_path, class:"btn btn-info" do %>
<<<<<<< HEAD
        <% if current_user.cart %>
        (<%= current_user.cart.items.count %>)
=======
        <i class="fa fa-shopping-cart"></i>Panier
        <% if current_user.cart %>
          (<%= current_user.cart.items.count %>)
        <% end %>
>>>>>>> 518725012481fe6c3cec4748debf4fe668ecde43
      <% end %>


        <% end %>
    <% else %>
      <%= link_to 'Login', new_user_session_path , class: "btn btn-primary"%>
    <% end %>


  </span>
</header>
